<span class="docstring-tag">
  <span class='docstring-tag-type'><i>📋</i> Todos:</span>
  <span class='docstring-tag-value'>
    <ul>
      <% object.tags(:todo).each do |tag| %>
        <li><%= tag.text %></li>
      <% end %>
    </ul>
  </span>
</span>