<%
  list = Kit::Doc::Services::Modules.get_object_constants({
    object:          object,
    options:         options,
    verifier_runner: ->(el) { run_verifier(el) },
  })
%>
<% if list.size > 0 %>

  <div class="summary summary-constants">
    <h2 class='summary-heading'>
      <a href="#constants" class='title'>Constants</a>
      <span class='list-count'><%= list.size %></span>
    </h2>

    <% list.each do |item| %>
      <%= yieldall item: item %>
    <% end %>
  </div>

<% end %>