= render Kit::Auth::Components::Forms::SignupForm.new( \
  model:      @model, \
  csrf_token: form_authenticity_token, \
  errors_list: @errors_list, \
)

.text-center.mt-3
  ' Already have an account?
  = router_link_to(id: 'web|users|sign_in')
    b Sign in!