<%
  version = config[:version]
  version = (version == 'edge') ? 'Edge' : "v#{ version }"
%>
<small class="app-vsn"><b><%= config[:project] %></b> <%= version %></small>

<div class='extra'>
  <%= yield %>
</div>