<% files = cleanup_files(list: object.files) %>
<% files.each_with_index do |file_data, idx| %>
  <% path, line = file_data %>
  <% if idx > 0 %><br><% end %>
  <a href="<%= "#{ config[:repo_url] }/#{ path }#L#{ line }" %>" target='_blank' title="View Source" rel="help">
    <%= "#{path}##{line}" %>
  </a>
<% end %>

<%
<<-COMMENT
%>
<%= object.file ? object.file : '(unknown)' %><% if object.files.size > 1 %><span class="defines">,<br />
  <%= object.files[1..-1].map {|f| f.first }.join(",<br /> ") %></span>
<% end %>
<%
COMMENT
%>
