<% if method_listing.size > 0 %>
  <% groups(method_listing) do |list, name| %>
    <% id = name.gsub(/ /, '_') %>

    <div class="summary-<%= id %> summary">
      <h2>
        <a href="#<%= id %>"><%= name %></a>
      </h2>

      <% list.each do |meth| %>
        <%= yieldall :item => meth %>
      <% end %>
    </div>

  <% end %>
<% end %>