<%
  list = Yard::Kit::Services::Modules.get_object_methods({
    object:                object,
    options:               options,
    include_class_methods: false,
    include_aliases:       false,
    verifier_runner:       ->(el) { run_verifier(el) },
  })
%>
<% if list.size > 0 %>

  <hr>

  <section id="methods-instance" class="details-list">

    <h1 class="section-heading">
      <a class="hover-link" href="#methods-instance">
        <span class="icon-link" aria-hidden="true"></span>
        <span class="sr-only">Link to this section</span>
      </a>
      Instance methods
      <span class='list-count'><%= list.size %></span>
      <% if Yard::Kit::Services::Properties.has_private_apis?(list: list) %>
        <span class='private-apis-warning unselectable'>⚠️ Private APIs are currently hidden.</span>
      <% end %>
    </h1>

    <div class="functions-list">
      <% list.each do |method| %>
        <%= yieldall item: method, owner: object %>
      <% end %>
    </div>

  </section>

<% end %>