<% list = Yard::Kit::Services::Modules.get_attributes(object: object, options: options) %>
<% if list.size > 0 %>

  <hr>

  <section id="attributes-instance" class="details-list">

    <h1 class="section-heading">
      <a class="hover-link" href="#attributes-instance">
        <span class="icon-link" aria-hidden="true"></span>
        <span class="sr-only">Link to this section</span>
      </a>
      Instance attributes
    </h1>

    <div class="functions-list">
      <% list.each do |method| %>
        <%= yieldall item: method, owner: object %>
      <% end %>
    </div>

  </section>

<% end %>