<section id="summary" class="details-list">
   <h1 class="section-heading">
      <a class="hover-link" href="#summary">
      <span class="icon-link" aria-hidden="true"></span>
      <span class="sr-only">Link to this section</span>
      </a>
      Summary
   </h1>

   <%= yieldall %>

</section>