<section id="attributes" class="details-list">
   <h1 class="section-heading">
      <a class="hover-link" href="#functions">
      <span class="icon-link" aria-hidden="true"></span>
      <span class="sr-only">Link to this section</span>
      </a>
      Attributes
   </h1>

   <%= yield %>

</section>