<%
  list = Yard::Kit::Services::Modules.get_methods({
    object:                   object,
    options:                  options,
    include_instance_methods: false,
    include_aliases:          false,
    verifier_runner:          ->(el) { run_verifier(el) },
  })
%>
<% if list.size > 0 %>

  <hr>

  <section id="methods-class" class="details-list">

    <h1 class="section-heading">
      <a class="hover-link" href="#methods-class">
        <span class="icon-link" aria-hidden="true"></span>
        <span class="sr-only">Link to this section</span>
      </a>
      Class methods
    </h1>

    <div class="functions-list">
      <% list.each do |method| %>
        <%= yieldall item: method, owner: object %>
      <% end %>
    </div>

  </section>

<% end %>