<%
  list = Yard::Kit::Services::Modules.get_object_methods({
    object:                object,
    options:               options,
    include_class_methods: false,
    include_aliases:       true,
    verifier_runner:       ->(el) { run_verifier(el) },
  })
%>
<% if list.size > 0 %>

  <div class="summary-methods-instance summary">
    <h2>
      <a href="#methods-instance">Instance methods</a>
    </h2>

    <% list.each do |item| %>
      <%= yieldall item: item %>
    <% end %>
  </div>

<% end %>