<%
  list = Yard::Kit::Services::Modules.get_object_attributes({
    object:          object,
    options:         options,
    verifier_runner: ->(el) { run_verifier(el) },
  })
%>
<% if list.size > 0 %>

  <div class="summary-attributes-instance summary">
    <h2>
      <a href="#attributes-instance">Instance attributes</a>
    </h2>

    <% list.each do |item| %>
      <%= yieldall item: item %>
    <% end %>
  </div>

<% end %>