<footer class="footer">

  <p>
    <span class="line">
      Built on <%= Time.now.strftime("%F@%R") %> by
      <a href="https://github.com/lsegal/yard" title="Yard" target="_blank" rel="help noopener">yard-<%= YARD::VERSION %></a> (ruby-<%= RUBY_VERSION %>),
    </span>
    <span class="line">
      designed by
      <a href="https://twitter.com/dignifiedquire" target="_blank" rel="noopener" title="@dignifiedquire">Friedel Ziegelmayer</a>
      for
      <a href="https://github.com/elixir-lang/ex_doc" title="ExDoc" target="_blank" rel="help noopener">ExDoc</a>.
    </span>
  </p>

  <p>
    <button class="line footer-button display-shortcuts-help">
      Display keyboard shortcuts
    </button>
    <button class="line footer-button night-mode-toggle">
      Toggle night mode
    </button>
    <button class="line footer-button private-apis-toggle">
      Toggle private APIs display
    </button>
  </p>

</footer>