<%
  # Note: seems that including Helper in layout/html/setup.rb does not do the trick.
  config = Yard::Kit::Config.config
%>

<!DOCTYPE html>
<html>
  <head>
    <%= erb(:headers) %>
  </head>

  <!--<body data-type="%= sidebar_type(page.type) %">-->
  <body data-type="">
    <script>try { if(localStorage.getItem('night-mode') === 'true') document.body.className += ' night-mode'; } catch (e) { }</script>

    <div class="main">
      <%= erb(:sidebar) %>

      <section class="content">
        <div class="content-outer">
          <div id="content" class="content-inner">

            <%= yieldall %>

            <%= erb(:footer) %>

          </div>
        </div>
      </section>
    </div>
  </body>

</html>

