<%
  list = Yard::Kit::Services::Modules.get_all_modules_as_hash({
    options:         options,
    verifier_runner: ->(el) { run_verifier(el) },
  })
%>

<% if list.size > 0 %>
  <section class="details-list">
    <h2 id="modules" class="section-heading">Modules</h2>
    <div class="summary">

      <% list.each do |name, el| %>o
        <%
          deprecated = el.has_tag?(:deprecated)
          synopsis   = el.has_tag?(:deprecated) ? el.tag(:deprecated).text : Yard::Kit::Services::Docstring.summary(object: el)
        %>

        <div class="summary-row">
          <div class="summary-signature">
            <a href="<%= url_for(el) %>">
              <%= name %>
            </a>
            <% if deprecated %>
              <span class="deprecated" title="Deprecated">deprecated</span>
            <% end %>
          </div>
          <div class="summary-synopsis"><%= htmlify_line(synopsis) %></div>
        </div>

      <% end %>

    </div>
  </section>
<% end %>
