<span class="docstring-tag color-type-dimmed">
  <strong><i>⚠️</i> This <%= object.type %> is part of a private API.</strong>
  <span>You should avoid using it as it may be removed or be changed in the future.</span>
</span>