.node.children-true {
  cursor: pointer;
}

.overlay {
  background-color: #eee;
}

.node circle {
  fill:         #fff;
  stroke:       steelblue;
  stroke-width: 2px;
}

.node circle.collapsed {
  stroke-width: 3px;
}

.node.type-alias circle {
  stroke: #909497;
}

.node.type-endpoint circle {
  stroke: #a93226;
}

.node.mounted-true circle {
  fill: #daf7a6;
}

.node.chidren-true circle {

}

.node text {
  font-family: Consolas;
  font-size:   10px;
}

.link {
  fill:         none;
  stroke:       #ddd;
  stroke-width: 1px;
}

.templink {
  fill: none;
  stroke: red;
  stroke-width: 3px;
}

.hidden-true {
  display: none;
}