.component_inputs_password {

  i.password_visibility {
    display: none;

    position: absolute;
    right: 14px;
    top:   21px;

    cursor: pointer;
  }

  input.is-invalid ~ i.password_visibility {
    right: 35px;
  }

}