<body class="bg-light">
  <div class="container">
    <img class="ax-center my-4 w-12" src="https://raw.githubusercontent.com/rubykit/kit/main/domains/kit-auth/docs/assets/images/kit-auth.logo.svg" />
    <div class="card">
      <div class="card-body text-center">
        <h1 class="ax-center text-center text-2xl">Hello <b>{{user_email.email}}</b>!</h1>
        <p class="ax-center text-center mt-4">Someone has requested a link to change your password.</p>
        <p class="ax-center text-center mt-2 mb-4">You can do this by clicking the the link below:</p>
        <a class="ax-center btn btn-primary fw-600" href="{{reset_link}}" target="_blank">CHANGE MY PASSWORD</a>
        <p class="ax-center text-center mt-4"><small>If you didn't request this, please ignore this email: your password won't change until you access the link above and create a new one.</small></p>
      </div>
    </div>
  </div>
</body>
