<body class="bg-light">
  <div class="container">
    <img class="ax-center my-4 w-12" src="https://raw.githubusercontent.com/rubykit/kit/master/domains/kit-auth/docs/assets/images/kit-auth.logo.svg" />
    <div class="card">
      <div class="card-body text-center">
        <h1 class="ax-center text-center text-2xl">Hello <b>{{user.email}}</b>!</h1>
        <p class="ax-center text-center mt-4 mb-4">Click on the link below to sign-in into your account:</p>
        <a class="ax-center btn btn-primary fw-600" href="{{sign_in_link}}" target="_blank">SIGN IN!</a>
        <p class="ax-center text-center mt-4"><small>If you didn't request this, please ignore this email.</small></p>
      </div>
    </div>
  </div>
</body>