<body class="bg-light">
  <div class="container">
    <img class="ax-center my-4 w-12" src="https://raw.githubusercontent.com/rubykit/kit/main/domains/kit-auth/docs/assets/images/kit-auth.logo.svg" />
    <div class="card">
      <div class="card-body text-center">
        <h1 class="ax-center text-center text-2xl">Hello <b>{{user_email.email}}</b>!</h1>
        <p class="ax-center text-center mt-4 mb-4">Welcome to rubykit!</p>
      </div>
    </div>
  </div>
</body>