= form_tag(router_path(id: 'web|users|password_reset|update', params: { access_token: access_token }), method: router_verb(id: 'web|users|password_reset|update'), class: "#{classes_str} needs-validation") do |f|
  - if csrf_token
    = hidden_field_tag :authenticity_token, csrf_token

  = render Kit::Auth::Components::Various::ErrorsAlertComponent.new(\
    errors: generic_errors,
  )

  = render Kit::Auth::Components::Inputs::PasswordComponent.new(\
    value:    model[:password],
    name:     'password',
    label:    'Password',
    errors:   errors_by_field[:password],
    help:     t('kit.auth.passwords.requirements'),
    required: true,
  )

  = render Kit::Auth::Components::Inputs::PasswordComponent.new(\
    value:    model[:password_confirmation],
    name:     'password_confirmation',
    label:    'Confirm new password',
    errors:   errors_by_field[:password_confirmation],
    required: true,
  )

  .actions
    button.btn.btn-primary.col-12 type="submit"
      i.small.fas.fa-arrow-right.pe-2
      == t('kit.auth.pages.users.password_reset.submit')