css:

  .form-signin {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: auto;
  }

  .form-label-group {
    position: relative;
    margin-bottom: 1rem;
  }

  .form-label-group > input,
  .form-label-group > label {
    height: 3.125rem;
    padding: .75rem;
  }

  .form-label-group > label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0; /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    pointer-events: none;
    cursor: text; /* Match the input under the label */
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
  }

  .form-label-group input::-webkit-input-placeholder {
    color: transparent;
  }

  .form-label-group input:-ms-input-placeholder {
    color: transparent;
  }

  .form-label-group input::-ms-input-placeholder {
    color: transparent;
  }

  .form-label-group input::-moz-placeholder {
    color: transparent;
  }

  .form-label-group input::placeholder {
    color: transparent;
    color: #777;
  }

  .form-label-group input:not(:placeholder-shown) {
    padding-top: 1.25rem;
    padding-bottom: .25rem;
  }

  .form-label-group input:not(:placeholder-shown) ~ label {
    padding-top: .25rem;
    padding-bottom: .25rem;
    font-size: 12px;
    color: #777;
  }

= simple_form_for(@model, url: web_signin_path, method: :post, html: { class: 'form-signin' }) do |f|

  .text-center.mb-4
    h1.h3.mb-3.font-weight-normal Sign in
    p Build form controls with floating labels via the

  .form-label-group
    = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'Email'
    = f.label :email
  .form-label-group
    = f.password_field :password, autocomplete: "current-password", class: 'form-control', placeholder: 'Password'
    = f.label :password
  .actions
    = f.submit "Log in", class: 'btn btn-lg btn-primary btn-block'

